* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828;
}

@font-face {
    font-family: "Mrs Eaves OT";
    src: url("../font/Mrs_Eaves_OT_Italic.otf");
}

.container {
    width: 1280px;
    margin: 50px auto;
    background-color: #fff;
    background: url("../img/header_background_gradient.png") no-repeat;
    background-size: 100%;
}

header {
    height: 490px;
    padding: 60px 90px;
}

button {
    border: none;
    font-family: "Myriad Pro", sans-serif;
    font-size: 23px;
    color: #FFFFFF;
}

header button {
    margin-top: 40px;
    background-color: #2a704f;
    padding: 10px 20px;
}

h1, h2 {
    color: #8d9491;
    font-family: "Myriad Pro", sans-serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 45px;
}

.content {
    background-color: #FFFFFF;
}

.header-title {
    font-family: "Mrs Eaves OT";
    font-style: italic;
    font-size: 74px;
    color: #b7babb;
    padding-left: 90px;
}

.header-info{
    padding-top: 105px;
}
.header-navigation-block ul li {
    float: left;
    font-family: "Myriad Pro", sans-serif;
    font-size: 22px;
    padding-right: 50px;
    list-style-type: none;
}

.header-navigation-block ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.header-navigation-block ul li:last-child {
    padding-right: 0;
}

.column {
    float: left;
}

.column-2 {
    width: 50%;
}

.clearfix:after {
    display: block;
    content: ' ';
    font-size: 0;
    clear: both;
}

.header-logo {
    position: relative;
    top: 70px;
    left: 10px;
    width: 330px;
    height: 330px;
}